.gallery{
	flex: 1 calc(25%);
	align-items: stretch;
}
@media(min-width:700px){
.gallery{
	max-width: 32.5%;
}
}
.item-status{
	margin: 20px;
}
.item-status span{
	font-weight: 700;
}
.item-stack{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: 20px;
}
.item-stack-title{
	margin: 5px;
	font-weight: 700;
}
.item-stack-item{
	margin: 5px;
}
.item-links{
	margin: 5px;
}
.item-links-title{
	font-weight: 700;
}
.item-link{
	margin: 10px;
}
.item-link a{
	color: #000;
}
.item-link a:visited{
	color: #000;
}
.item-link a:active{
	color: #000;
}
.item-link a:hover{
	color: #555;
}
.item-description{
	line-height: 2;
}